
/* Orange Button Styles */
.btn-orange {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color: rgb(8, 8, 40);
}

/* Form Input */
.form-control {
  text-align: center;
  font-size: 14px;
  height: 38px;
}
.btn-my{
  background-color: darkorange;
}