.card-img-container {
  height: 300px;
  /* Set a fixed height for the image */
  overflow: hidden;
  /* Ensure image does not overflow */
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Ensure the image covers the area without distortion */
}

.card-body {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.test {
  min-height: 100vh;
}


.category-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Aligns buttons to the left */
  /* gap: 10px; */
  /* Adds spacing between buttons */
}

.category-buttons .btn {
  width: 100%;
  /* Makes all buttons full-width */
  text-align: left;
  /* Aligns text to the left within the button */
}


.discount-class {
  background: #ff9216;
}


.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full screen height */
  text-align: center;
}

.no-products-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F7941D;
  /* Primary color */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  /* Adjust width as needed */
  max-width: 600px;
  /* Max width of the message */
}