/*===== All Content Card Style 4 =====*/
.content-card-style-4 {
  background-color: #FAFAFA;
}

.content-card-style-4 .single-content .content-icon i {
  font-size: 72px;
  line-height: 72px;
  color: #0167F3;

}

.content-card-style-4 .single-content .content-content .title a {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px) {
  .content-card-style-4 .single-content .content-content .title a {
    font-size: 20px;
  }
}

.content-card-style-4 .single-content .content-content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin-top: 16px;
}

.content-card-style-4 .single-content .content-content .more {
  color: #542DED;
  text-transform: uppercase;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}